<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body>
    <div class="row">
      <div class="card col-4 ml-auto mr-auto text-center" style="margin-top:150px">
        <form class="form-gorup" action="" method="post">
          {% csrf_token %}
          {% if form.errors.email %}{{form.errors.email}}{% endif %}
          <label style="margin-right:140px;">Email:</label>
          <p>{{ form.email }}</p>
          <input class="btn btn-success" style="width:150px;" type="button" value="Reset Password">
        </form>
      </div>
    </div>
  </body>
</html>
