
#login{
  margin-top: 100px;
  padding-top: : 10px;
  padding-bottom: 10px;
}
body{
  background-color: rgba(7, 10, 18, 0.82);
  overflow: hidden;
}
#loginimg{
  display: block;
  margin-left : auto;
  margin-right : auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
