{% extends "catalog/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/catalog/book_list.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
  var books = {{book_list|safe}}
</script>
<div id="app" class="">
  <div id="search" class="border border-dark">
    <div id="search-bar" class="w-100 input-group">
      <input class="form-control" type="text" placeholder="Search" v-model="search">
      <button class="btn btn-secondary btn-rounded" name="button">Search</button>
    </div>
    <div id="result" class="">
      <ul class="list-unstyled">
        <template v-for="book in searchResult">
          <li class="mt-2"><a class="text-warning" href="#" @click="showBook(book)">-- {book.fields.title}</a></li>
        </template>
      </ul>
    </div>
  </div>
  <div id="bookDetail" class="">
    <h3 class="text-center mb-5 text-warning">{book_title}</h3><br>
    <p class="text-left text-warning">genre: {book_genre}</p>
    <p class="text-left justify mb-5 text-warning">summary: {book_summary}</p><br>
    <p class="text-left text-warning">isnb: {book_isnb}</p><br>
    <p class="text-left text-warning">Author: <a href="#">{book_author}</a></p>
  </div>
</div>


<script>
  $('#result').height($(window).height() - ($('#search-bar').height()+$('#navbar').height()))
</script>
<script type="text/javascript">
  var vm = new Vue({
    delimiters: ['{', '}'],
    el : app,
    data : {
      search : "",
      items : [],
      book_list : books,
      book_title : "",
      book_genre : "",
      book_summary : "",
      book_isnb : "",
      book_author : "",
    },
    computed :{
      searchResult : function(){
      if(this.search===""){
        return this.book_list;
      }else{
        search_result = [];
        for(var i =0;i<this.book_list.length;i++){
          if(this.book_list[i].fields.title.search(this.search) != -1){
            search_result.push(this.book_list[i])
          }
        }
        return search_result;
      }
    }
    },
    methods:{
      showBook : function(book){
        this.book_title = book.fields.title;
        this.book_genre = book.fields.genre.join();
        this.book_summary = book.fields.summary;
        this.book_isnb = book.fields.isnb;
        this.book_author = book.fields.author;
      }
    }
  });
</script>
{% endblock %}
